*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
/* Nav started */
.head{
    background-image: url('Assets/Hero-bg.png');
     height: 450px;
}

nav{
    display: flex;
    height: 70px;
    justify-content: center;
    padding: 50px;
    justify-content: space-around;
}
.btn-primarry{
    height: 40px;
    width: 90px;
    margin-top: 10px;
    border-radius: 18px;
    border: 2px solid transparent;
    background-color: blue;
    color: white;
}
.btn-primarry:hover{
    border: 2px solid whitesmoke;
}
img{
    mix-blend-mode: multiply;
}
/* header text and btn */

.bannar{
    height:70px ;
    width: 350px;
    text-align: center;
    margin-top: 100px;
    margin-left: 600px;
    font-size: larger;
}
.btn2 a{
       color: white;
       text-decoration: none;
       font-size:large;
      
}
.btn2{
    width: 200px;
    height: 50px;
     margin-top: 30px;
}
/* main section */
.main1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 460px;
}
.btn3{
    height: 55px;
    width: 250px;
    margin-top: 20px;
}
.btn3 a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.main-para{
    width: 300px;
    margin-top: 30px;
}
.main-para-prgp{
    font-size: larger;
    font-weight: 900;
}
.Gray{
    color: gray;
}
.main1 img{
    border-radius: 30px;
    height: 200px;
    width: 300px;
}
/* Testimonial */
.testimonial h2{
    text-align: center;
    margin-bottom: 40px;
  font-size: 2rem;
  color: #1f1f3e;
}
.testimonial-text{
      display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.text-containar{
    height: 160px;
    width: 300px;
    background-color: rgb(250, 243, 243);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 0.1px 5px rgb(171, 169, 169);
}
.text-containar:hover{
    border: 2px solid rgb(255, 255, 255);
}
.testimonial-tex h3{
   padding-top: 10px;
}
.image{
    border-radius: 100px;
}
.Reviwer{
    display: flex;
    gap: 15px;
}
.reviw {
   margin-top: 5px;
}
.testimonial-paragraph
{
  padding-bottom:15px ;
  padding-top: 15px;
}
/*User-Manual  */
.use-menu{
    height: 306px;
    width: 1100px;
    background-color: rgb(240, 232, 232);
    margin-left: 210px;
    border-radius: 20px;
    margin-top: 70px;

}
.use-menu:hover{
     border: 2px solid rgb(246, 240, 240);
}
.use-menu-all{
    padding: 40px;
}
div h2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.use-num{
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;
}
.use-menu-tittle{
    display: flex;
        justify-content: center;   
    text-align: center;
    justify-content: space-evenly;
}
.use-num-color{
    color: rgb(114, 47, 176);
}
.btn4{
    height:45px;
    width: 505.3px;
}
/* bOX LOGIN */
.Box login{
    width: 50%;
}
.btn4 a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.btn4{
    height: 50px;
}
.Box{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(247, 236, 236);
    height: 600px;
    margin-top: 70px;
    border-radius: 10px;
}
footer1 input[type="text"],footer1 textarea
    {
    height: 64px;
    width: 461px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
margin-bottom: 24px;
    border: none;
}
footer1 textarea{
    height: 200px;
}
.copy-right{
    display: flex;
    text-align: center;
    justify-content: center;
}
.customiz{
    background-color: rgb(228, 233, 233);
    height: 10px;
    padding: 30px;
}
 #option{
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 40px;
 }
 ._text{
    margin-top: 30px;
 }
 ._logo{
    height: 50px;
 }
.copy-right img{
    height: 40px;
}
nav button a{
    color: white;
    text-decoration: none;
    font-size: large;
}
.btn1{
    height: 50px;
    width: 150px;
}
.-image{
    text-align: center;
    background-color: rgb(228, 233, 233);
}
.-image img{
  mix-blend-mode: multiply;
  height: 100px;
  width: 100px;
}
